body.dark-theme{
    background-color: hsl(230, 17%, 14%);
}

body.dark-themeheader{
    background-color: hsl(232, 19%, 15%);
} 

body.dark-theme.heading-top, .overview-heading{
    color: hsl(0, 0%, 100%)
}

body.dark-theme.first-stats,.second-stats{
    background-color: hsl(228, 28%, 20%);
}

body.dark-theme.follow-numbers, .overview-totals{
    color: hsl(0, 0%, 100%)
}

body.dark-theme.overview-titles,.follow-text, .names,.toggle-text,.total-follows{
    color: hsl(228, 34%, 66%);
}